.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #22a1a1  ;
  padding: 10px;
  height: 37px;
  width: 100%;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.navbar li {
  display: inline-block;
}

.navbar a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: rgb(56, 56, 56);
}

.signin-page {
  background-image: url('../public/telephone.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: whitesmoke;
}

.homepage {
  background-image: url('../public/paperbag.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  text-align: center;
}

.projects-page {
  background-image: url('../public/shredder.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  text-align: center;
}

.register-page {
  background-image: url('../public/cloud.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.logo {
  height: 100px;
  margin-bottom: -30px;
}

.input-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.input-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid whitesmoke;
  width: 100%;
}

.button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #450f9b;
  color: whitesmoke;
  border: none;
  cursor: pointer;
  width: 300px;
  margin-top: 10px;
}

.button:hover {
  background-color: white;
  color: #450f9b;
}

.link-primary {
  color: #6a5acd;
  text-decoration: none;
}

.link-primary:hover {
  text-decoration: underline;
}

button {
  display: inline-block;
}

.buttonStyle {
  background-color: #22a1a1;
}


