body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#58794d;
  color: whitesmoke;
  font-size: 22px;
  align-items: center;
  padding: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: #450f9b;
  border: none;
  padding: 10px;
  color: whitesmoke;
  border-radius: 12px;
  margin: 2px;
}

button:hover {
  cursor: pointer;
  background-color: whitesmoke;
  color: rgb(172, 126, 27);
}

.delete {
  background-color: red;
}

nav {
  margin: 0px;
}

#root {
  margin: 0px;
  padding: 0;
}

#root div {
  margin-top: 0px;
  padding: 0;
}